*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:  Helvetica,Arial, sans-serif ;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    flex-wrap: wrap;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
#header{
    width: 100%;
    height: 46px;
    background-color: rgb(80, 30, 30);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav, .subnav{
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav {
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;    
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
   
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .btn{
    float: right;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
}
#header .btn a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
#header .btn_searching{
    width: fit-content;
    font-size: 20px;
    cursor: pointer
}
#header .btn_searching input{
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
    outline: none;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    background-color: rgb(80, 30, 30);
    margin-right: 5px;
    border-bottom: 1px solid   #ccc;
}
#header .btn_searching i{
    text-align: center;
    line-height: 46px;
}
#header .btn_user{
    width: 46px;
    color: #fff;
}
#header .btn_giohang{
    width: 46px;
    color: #fff;
}
#header .btn_logout{
    width: 46px;
    color: #fff;
}
.btn button{
    background-color: rgb(80, 30, 30);
}






#slider{

}
.img-items {
    display: block;
    position: relative;
    height: 800px;
    margin: auto;
  }
  
.img-items img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.img-heading{
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
  }
  /* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


#introduction{
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding:30px 300px;
    background-color: rgb(80, 30, 30);
}
#introduction .introduction-text{
    padding: 15px 15px;
    color: #fff;
}
.introduction-heading{
    text-align: center;
    padding: 30px
}


#cartegory{
    margin-left: 5%;
    margin-right: 5%;
}
#cartegory h2{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    border-bottom: 1px solid #333333;
}
.cartegory-heading-big{
    width: 100%;
    text-align: center;
    margin: 50px 0 30px 0;
}

.cartegory-products{
    flex: 1;   
    padding: 0 12px;

}
.cartegory-kit-products-item{
    width: calc((25%) - 20px);
    text-align: center;
    padding: 0;
    box-shadow: 2px 2px 2px grey;
    margin:10px;
    justify-content: space-between;
}
.cartegory-kit-products-item{
    font-size: 11px;
    margin-top: 6px;
    color: #333333;
    text-decoration: none;
}
.cartegory-kit-products-item img{
    width:90%;
    border-radius: 5px;
}
.cartegory-kit-products-item p{
    font-size: 12px;
    color: #000;
}


#footer{
    height: 300px;
    background-color: rgb(80, 30, 30);
    color: #fff;
}
.row-heading{
    padding-top: 70px;
    margin-top: 70px;
    text-align: center;
    background-color: rgb(80, 30, 30);
}
.heading{
    margin: 30px 25%;
}
.heading2{
    margin: 30px 0;
}
.row{
    font-size: 14px;
    padding-bottom: -30px;
}
.row i{
    padding-right: 10px;
}
.row p{
    line-height: 25px;
    margin-left: 25%;
}
.input-email{
    height: 40px;
    width: 350px;
    border: 1px solid ;
    border-radius: 4px;
}
.btn-email{
    height: 38px;
    width: 80px;
    margin-left: -10px;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: rgb(80, 30, 30);
    color: #fff;
}
.social-btns>a{
    line-height: 40px;
    padding-left: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top:20px;
    margin-right: 10px;
    color: rgb(80, 30, 30);
    border-radius: 4px;
}

.facebook,
.youtube,
.instagram,
.shopee{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #fff;
}
.social-btns>a:hover{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    animation: fade ease 1s;
}
.banquyen{
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-right: 30px;
    background-color:  rgb(80, 30, 30); 
}
.copyright{
    float: right;
    margin-bottom: 40px;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
mark{
    background-color: yellow;
}






  
