*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:  Helvetica,Arial, sans-serif ;
}
.row{
   display: flex;
   flex-wrap: wrap;

}
.top{
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;    z-index: 999;
    transition: all 0.3s ease;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
#header{
    width: 100%;
    height: 46px;
    background-color: rgb(80, 30, 30);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .btn{
    float: right;
    text-decoration: none;
}
#header i:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    line-height: 46px;
    font-size: 20px;
}
#header .shopping-icon{
    color: #fff;
    line-height: 46px;
    font-size: 20px;
}
#header .logout-icon{
    color: #fff;
    line-height: 46px;
    font-size: 20px;
}
#header i{
    line-height: 46px;
    padding: 13px 21px;
}

.sanpham{
    margin-top: 46px;
    padding-top: 30px;   
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;
}
.product-content-left{
    width: 50%;
}
.product-content-left-big-img{
    width: 20%;
    padding-right: 100px;
}

.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}
.product-content-right-product-name  p{
    color: rgb(126, 89, 89);
    font-size: 12px;
}
.product-content-right-product-birthdate{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}
.product-content-right-product-color-choice span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #000;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.product-content-right-product-description{
    display: flex;
    margin-bottom: 20px;
}
.product-content-right-product-quantity description{
    width: 40px;
    padding-left: 3px;
}
.product-content-right-product-button{
    width:400px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    line-height: 40;
}
.product-content-right-product-button button:hover{
    background-color: rgb(80, 30, 30);
    height: 45px;
    width: 160px;
    color: #fff;
    text-align: center;
    justify-items: center;
    animation: fade 0.5s ease;
}
.product-content-right-product-button button{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 0px 5px;
}
.product-content-right-product-button button i{
    padding-right:5px;
}
.product-content-right-product-bottom{
    margin-top: 30px;
    border-top: 1px solid #dddddd;
    position: relative;
    margin-right: 2%    ;
}
.product-content-right-product-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;;
    display: flex;
    justify-content: center;    
    align-items: center;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transform: translateX(-50%);
}   
.product-content-right-product-bottom-content{
    padding-top: 30px;
    font-size: 12px;
}
.product-content-right-product-bottom-content-title{
    border-bottom: 1px solid #dddddd;
}
.product-content-right-product-bottom-content-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-product-bottom-content-huongdan{
    display: none;
}
.activeB{
    display: none;
}



#footer{
    height: 420px;
    width: 100%;
    background-color: rgb(80, 30, 30);
}
.row-heading{
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color:#fff ;
}
.heading{
   margin-top: 30px;
   margin-bottom: 20px;
   color: #fff;
   margin-left: 30%;
}
.row{
    font-size: 14px;
}
.row i{
    padding-right: 10px;
}
.row p{
    line-height: 25px;
}
.col p{
    color: #fff;
    margin-left: 30%;
}
.input-email{
    height: 40px;
    width: 350px;
    border: 1px solid ;
    border-radius: 4px;
    margin-left: 15%;
}
.btn-email{
    height: 38px;
    width: 80px;
    margin-left: -10px;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: rgb(80, 30, 30);
    color: #fff;
    
}
.social-btns{
    margin-left: 15%;
}
.social-btns>a{
    line-height: 40px;
    padding-left: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top:20px;
    margin-right: 10px;
    color: rgb(80, 30, 30);
    border-radius: 4px;
    background-color: #fff;
}

.facebook,
.youtube,
.instagram,
.shopee{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(80, 30, 30);
}
.social-btns>a:hover{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    animation: fade ease 1s;
}
.banquyen{
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-bottom: 10px;
}
.copyright{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    color: #fff;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}